fastapi
uvicorn
pymupdf
pdfplumber
pytesseract
Pillow
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
openai
faiss-cpu
tiktoken
python-dotenv
python-jose[cryptography]
sqlalchemy
alembic
bcrypt<4.1.0
passlib[bcrypt]
python-multipart
slowapi
pydantic
anyio
psutil