fastapi
uvicorn
pymupdf
pdfplumber
pytesseract
Pillow
langchain
openai
faiss-cpu
tiktoken
python-dotenv
python-jose
sqlalchemy
alembic
bcrypt<4.1.0
passlib[bcrypt]
langchain-community
langchain-openai
python-multipart